<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="error" name="logger" packages="log4j2.xml">
    <Appenders>
        <Appender name="systemAppender" class="org.apache.logging.log4j.core.appender.RollingFileAppender">
            <Param name="File" value="logs\systemLogs.log"/>
            <Param name="MaxFileSize" value="1MB"/>
            <PatternLayout pattern="%C{1}.%M %m %ex%n"/>
            <ThresholdFilter level="debug"/>
        </Appender>
        <Appender name="securityAppender" class="org.apache.logging.log4j.core.appender.RollingFileAppender">
            <Param name="File" value="logs\securityLogs.log"/>
            <Param name="MaxFileSize" value="1MB"/>
            <PatternLayout pattern="%C{1}.%M %m %ex%n"/>
            <ThresholdFilter level="error"/>
        </Appender>
        <Appender name="eventAppender" class="org.apache.logging.log4j.core.appender.RollingFileAppender">
            <Param name="File" value="logs\eventLogs.log"/>
            <Param name="MaxFileSize" value="1MB"/>
            <PatternLayout pattern="%C{1}.%M %m %ex%n"/>
            <ThresholdFilter level="info"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="systemAppender"/>
            <AppenderRef ref="securityAppender"/>
            <AppenderRef ref="eventAppender"/>
        </Root>
    </Loggers>
</Configuration>